[Unit]
Description=Graylog server daemon
BindTo=network.target
Requires=elasticsearch.service mongod.service

[Service]
Type=simple
User=graylog
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p /var/run/graylog/
ExecStartPre=/usr/bin/chown -R graylog:graylog /var/run/graylog/
PIDFile=/var/run/graylog/server.pid
EnvironmentFile=/etc/sysconfig/graylog-server
ExecStart=/usr/bin/java $GRAYLOG_JAVA_OPTS -jar /opt/graylog/graylog.jar server -f /etc/graylog/server/server.conf -p /var/run/graylog/server.pid

[Install]
WantedBy=multi-user.target
