global
 log         172.16.100.55:10514 local2
 chroot      /var/lib/haproxy
 pidfile     /var/run/haproxy.pid
 maxconn     4000
 user        haproxy
 group       haproxy
 daemon
 stats socket /var/lib/haproxy/stats

defaults
 log     global
 mode    http
 option  httplog
 option  dontlognull
 option  redispatch
 retries 3
 timeout client 35s
 timeout server 60s
 timeout connect 5s
 timeout http-keep-alive 10s

listen stats 172.16.100.55:9900
 mode http
 balance
 timeout client 5000
 timeout connect 4000
 timeout server 30000
 stats uri /
 stats realm HAProxy\ Statistics
 stats auth admin:admin
 stats admin if TRUE

listen syslog-TCP-514 0.0.0.0:514
 mode tcp
 option tcpka
 option tcplog
 #balance leastconn - The server with the lowest number of connections receives the connection
 #balance roundrobin - Each server is used in turns, according to their weights.
 #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
 balance roundrobin
 server glog01 172.16.100.53:10514 check
 server glog02 172.16.100.54:10514 check
 server glog03 172.16.100.55:10514 check
	
